html,
body {
  margin: 0;
  padding: 0;
}

.leaflet-container {
  position: relative;
  width: 100%;
  height: 800px;
}

:root {
  --leaflet-tile-filter: brightness(0.65) invert(1) contrast(3) hue-rotate(200deg) saturate(0.4) brightness(0.7);
}

@media (prefers-color-scheme: dark) {
  .leaflet-tile {
    filter: var(--leaflet-tile-filter, none);
  }

  .leaflet-container {
    background: #303030;
  }
}

.custom-icon {
  position: fixed;
  bottom: 0;
  left: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
